@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$fontFam: 'Raleway', sans-serif;

//Colors
$black: #000;
$light-orange: #ef7d00;

//break-points
$bp1: 575px + 0.98;
$bp2: 767px + 0.98;
$bp3: 991px + 0.98;
$bp4: 1199px + 0.98;
$bp5: 1439px + 0.98;

@mixin fontz($fmx,$fmn){
    font-size: calc(#{$fmx} + (#{$fmn} * (100vw / 1900)));
}