*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body {
  font-family: $fontFam; 
  font-size: 14px;
  color: #000;
  height: 100%;
	width: 100%;
  position: relative;
}
.fixed-page {
  overflow: hidden;
}
.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.main{
	flex: 1 1 100%;
}
.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
 
  @media (min-width:$bp2) {
    max-width:720px;
  }
  @media (min-width:$bp3) {
    max-width: 960px;
  }
  @media (min-width:$bp4) {
    max-width: 1140px;
  }
  @media (min-width:$bp5) {
    max-width: 71.5vw;
  }
}
ul {
  list-style: none;
}
a {
  color: $black;
  outline: none;
  text-decoration: none;
  transition: 0.3s;
  @media (min-width:$bp3) {
    &:hover {
      color: $light-orange;
    }
  }
}
button,
button:active,
button:focus,
button:hover,
input,
input:active,
input:focus,
input:hover,
textarea,
textarea:focus {
  outline: none;
}
textarea {
  resize: none;
}

img {
  max-width: 100%;
  height: auto;
}

.title {
  font-size: 33px;
  font-weight: normal;
  position: relative;
  padding-left: 70px;
  padding-bottom: 30px;
  @media (min-width:$bp5) {
    padding-left: 0px;
  }
}

.pre-title {
  font-size: 16px;
  color: $light-orange;
  padding-right: 10px;
  border-right: 8px solid $light-orange;
  position: absolute;
  top: -5px;
  left: 0;
  height: 70px;
  padding-top: 5px;
  @media (min-width:$bp5) {
    left: -115px;
  }
}

.btn {
  background-color: $light-orange;
  color: #fff;
  font-size: 16px;
  padding: 20px;
  max-width: 320px;
  text-align: center;
  font-weight: normal;

  &__secondary {
    display: flex;
    max-width: 220px;
    color: $light-orange;
    justify-content: center;
    font-size: 14px;
    padding: 15px;
    border-radius: 10px;
    background-color: #fef7f0;
    margin: 20px 0;
    &:hover {
      background-color: $light-orange;
      color: #fef7f0;
    }
  }

  &__primary {
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding: 15px;
    color: #fff;
    // background-color: $light-orange;
    margin: 20px 0;
    box-shadow: 59px 34px 82px 20px rgba(254, 247, 240, 1);
    &:hover {
      background-color:#fef7f0;
      color:  $light-orange;
    }
  }
}

.cookies{
  display: none;
  color: $black;
  background: #fff;
  font-weight: normal;
  position: fixed;
  bottom: 5%;
  left: 5%;
  right: 0;
  z-index: 4;
  width: 80%;
  padding: 15px;
  font-size: 13px;
  box-shadow: 2px 9px 24px -1px rgba(0, 0, 0, 0.12);

  @media (min-width:$bp2) {
    width: 30%;
    padding: 30px;
  }

  &__flex{
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media (max-width:$bp1) {
      flex-wrap: wrap;
    }
  }
  &__btn{
    
    @media (max-width:$bp1) {
     margin-top: 5px;
    }
    @media (min-width:$bp1) {
      margin-left: 10px;
    }
    background-color: #ffcf9a5e;
    color: $light-orange;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 14px;
  }
}

.inp-req {
  color: red;
  margin-top: -20px;
}