.banner {
    background: linear-gradient(to bottom, #ffcf9a5e 36%, white 0%); 
    padding-top: 70px;
    &__title {
        font-size: 33px;
    }

    &__descripton {
        display: none;
    }


    &__items {
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        &_item {
            flex: 1 1 100%;
            border-radius: 20px;
            padding: 20px 20px 30px 20px;
            background: #fff;
            margin: 10px;
            box-shadow: 1px 59px 100px -7px rgba(0, 0, 0, 0.12);
            max-width: 133px;
        }
    }
}