.header {
  padding: 30px 30px 5px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(239, 123, 0, 0.13);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  background: #ffcf9a5e;

  &__logo {
    z-index: 3;
    width: 125px;
    @media (min-width:$bp2) {
      width: 175px;
    }
  }

  &__nav {
    display: flex;
    @media (max-width:$bp3) {
      justify-content: center;
      position: fixed;
      left: -100%;
      top: 0;
      bottom: 0;
      z-index: 1;
      flex-direction: column;
      width: 100%;
      background-color: #fff;
      overflow: auto;
      transition:  .5s ;
      li{
        margin-bottom: 50px;
        a {
          font-size: 20px;
          position: relative;
          left: 40%;
          
        }
      }

      &.active {
        left: 0;
      }
    }
    @media (min-width:$bp3) {
      li{
        &:not(:last-child) {
          margin-right: 150px;
        }
        a {
          font-size: 16px;
        }
      }
    }

    &_link {
      &.active {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          right: -25px;
          width: 10px;
          height: 10px;
          top: 50%;
          transform: translateY(-50%);
          background-color: $light-orange;
        }
      }
    }
  }

  &__burger {
    margin-top: 6px;
    z-index: 3;
    position: relative;
    max-width: 35px;
    width: 100%;
    display: block;

    span {
      background-color: $black;
      height: 3px;
      width: 35px;
      position: absolute;
      transition: 0.4s;

      &:before{
          background-color: $black;
          width: 35px;
      }
  
      &:before {
        position: absolute;
        top: 8px;
        content: "";
        height: 3px;
        transition: 0.4s;

      }
  
      &.active {
        transform: rotate(-45deg);
        &:before {
          transform: rotate(90deg);
          top: 0;
        }
      }
    }

    @media (min-width: $bp3) {
      display: none;
    }
  }
    
  &__lang{
    display: none;  

    @media (min-width:$bp3) {
      display: flex;
      
      a {
        background-color: #fff;
        padding: 10px 15px;
        color: #b1b1b1;
        &.pl{
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        &.en {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }

        &.active {
          color: $black;
        }

        &:hover {
          color: $light-orange;
        }
      }
    }
  }
}